* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root{
 --primary:#003366;
 --accent:#00a86b;
}

.container {
  width: 92%;
  margin: auto;
}

.top-strip {
  background: #003366;
  color: white;
  font-size: 13px;
  padding: 5px 0;
}
.top-flex {
  display: flex;
  justify-content: space-between;
}
.navbar {
  background: white;
  border-bottom: 1px solid #d7dfea;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 7px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
  margin-right: 10px;
}

.logo h2 {
  font-size: 22px;
  color: #003366;
}

.logo small {
  font-size: 12px;
  color: #666;
}
nav ul{list-style:none;display:flex}
nav li{position:relative}
nav a{
  text-decoration:none;
  color:var(--primary);
  font-weight:400;
  padding: 15px 20px;
}
.dropdown-menu{
 display:none;
 position:absolute;
 background:#fff;
 border:1px solid #ccc;
 top:30px; 
}
.dropdown-menu li a{
  text-align: left;
  display: block;
  padding: 10px 15px;
  background: #fff;
  text-wrap: nowrap;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.dropdown-menu li:last-child a{
  border-bottom: none;
}
.dropdown:hover .dropdown-menu{display:block}
.dropdown i{transition:.3s}
.dropdown:hover i{transform:rotate(180deg)}

/* ================= HERO ================= */
.hero {
  height: 300px;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.marquee-strip {
  background: #0056b3;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 0;
}
.content {
  padding: 30px 0;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .nav-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    margin-top: 10px;
    flex-wrap: wrap;
  }

  nav ul li {
    margin: 5px 10px 0 0;
  }
}
.gov-main {
  background: #f2f2f2;
  padding: 15px 0;
}

.gov-container {
  width: 94%;
  margin: auto;
}

.gov-grid {
  display: grid;
  grid-template-columns: 220px 1fr 260px;
  gap: 12px;
}

.gov-box {
  background: white;  
  padding: 25px 10px 10px 10px;  
}

/* ================= LEFT PANEL ================= */
.gov-left {
  background: #e6e6e6;
  padding: 8px;
  border-radius: 4px;
}

.gov-left-menu {
  list-style: none;
  font-size: 14px;
}

.gov-left-menu li {
  background: #f9f9f9;
  padding: 7px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.gov-left-menu li:hover {
  background: #d9eaff;
}

/* ================= CENTER PANEL ================= */
.gov-center {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
}

.welcome-box h1 {
  font-size: 30px;
  color: #054d7b;
  text-align: center;
}

.welcome-box p {
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

.gov-title {
  background: #0056b3;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  border-radius:3px;
  
}

.gov-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.gov-table th,
.gov-table td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: left;
}

.gov-table th {
  background: #f0f0f0;
}
.latest-update{ 
  background: #F1F1F1;
  padding: 10px 20px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.latest-update p{
  font-size: 16px;
  font-weight: 400;
}
.latest-update button{
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 4px 6px;
  font-size: 16px;
}
/* ================= RIGHT PANEL ================= */
.gov-right {
  background: #e6e6e6;
  padding: 8px;
  border-radius: 4px;
}

.gov-login-btn {
  width: 100%;
  padding: 10px;
  background: #24a0ed;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  color:#fff;
}
.login-purpose{
  margin: 0;
  padding: 0;
  padding: 10px;
}
.login-purpose li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.login-purpose li a{
  display: block;
  text-decoration: none;  
  font-size: 14px;
  font-weight: 400;
  padding: 5px 0;
  color:#0056b3;
}
/* SEARCH BOX */
.search-box h4 {
  background: #0056b3;
  color: white;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
}

.search-box input {
  width: 100%;
  padding: 6px;
  margin: 6px 0;
  border: 1px solid #ccc;
}

.search-box button {
  width: 100%;
  padding: 6px;
  background: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

.gov-help-menu {
  list-style: none;
  margin-top: 20px;
}

.gov-help-menu li {
  background: #054d7b;
  color: white;
  padding: 7px;
  margin-bottom: 8px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}
.gov-help-menu li:hover{
  background: #0056b3;
}
/* FOOTER */
.footer{
 background:var(--primary);
 color:white;
 padding:25px 0;
}
.footer-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:20px;
}
.footer-grid h4{
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.footer ul{
  list-style:none; 
  display: flex; 
  flex-wrap: wrap;
  gap:20px;  
}
.footer ul li a{
  font-size: 14px;
  padding: 5px;
  color:#fff;
  text-decoration: none;
}
.footer ul li:first-child a{
  padding-left: 0;
}
.social i{font-size:18px;margin-right:10px; cursor: pointer;}
.copyright{text-align:center;margin-top:10px;font-size:13px;}


/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .gov-grid {
    grid-template-columns: 1fr;    
  }
  .footer-grid{grid-template-columns:1fr}

  .gov-left,
  .gov-right {
    order: 2;
  }

  .gov-center {
    order: 1;
  }
}
